<%- include('../partials/header') %>
<%- include('../partials/nav', {active: 'about'}) %>

<div class="container">
    <div class="col text-center">
        <img class="rounded-circle" src="img/mirza.jpg" alt="Mirza Ali Abhipraya" style="width: 200px;">
        <h1>Mirza Ali Abhipraya</h1>
        <p>Penulis</p>
    </div>
</div>



<%- include('../partials/footer') %>

    